{% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Sign Out {{current_user.username}}</a>
{% else %}
    <a href="{{ url_for('login') }}">Sign In</a>
{% endif %}

<h1> College Football Application </h1>
<h3> Luke Soenen - SI364 Final Project </h3>


{% block navigation %}
<ul>
    <li><a href="{{ url_for('teamform') }}">Team Form</a>
    <li><a href="{{ url_for('allteams') }}">All Teams</a>
</ul>
<p>----------------------------------------------------</p><br>
{% endblock %}



{% block main_content %}

<h3>Login</h3>

<div>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</div>

<form method="POST">
	{{ form.hidden_tag() }}
	{{ form.email.label }} {{ form.email() }}
	{{ form.password.label }} {{ form.password() }}
	{{ form.submit.label }}{{ form.submit() }}
</form>

<p>New user?
<a href="{{ url_for('register') }}">Click here to register</a> </p>

{% endblock %}
